/*Copyright By Sunplace*/
body{line-height: 1.5;
    margin-bottom: 15px;
    font-family: Arial, 微软雅黑, "Microsoft Yahei", sans-serif;}
	a:link,a:active,a:visited{color:#0fbe7c;text-decoration:none;}
	a:hover{text-decoration:underline;}	
	.wrap{background-color:#eef2fa; border:1px solid #d8e3e8; color:#111; padding:15px; -moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; -khtml-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;}
	p:last-child{text-indent: 2em;}
	em{color:#0fbe7c;}
	footer{background-color:#0fbe7c; border:1px solid #eaeaea; color:#ccffcc; padding:15px; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; -khtml-border-radius:0 0 5px 5px; border-radius:0 0 5px 5px; }
	footer a:link{color:#fff;margin: 0 0.5em 0 0.5em;background:#3B3B3B;padding: 5px;box-shadow:0px 2px 1px 1px #000;}
	footer a:hover{text-decoration: none;background: #378B50;}
